$px_pd_section: 80px
$px_container:  1024px

@media (min-width:768px)
  .pc-block
    display: block
  .pc-ib
    display: inline-block
  .pc-flex
    display: -webkit-flex
    display: -ms-flex
    display: flex
  .pc-none
    display: none
  .container
    width: $px_container
    margin: 0 auto

  .breadcrumbs
    p
      font-size: 14px!important

  .wrap-top
    &::before
      top: -40%
  h2
    font-size: 30px

  .flex-logo
    display: -webkit-flex
    display: -ms-flex
    display: flex
    flex-direction: row-reverse
    align-items: center
    .item-logo
      width: 250px
      img
        width: 100%
    .item-text
      font-size: 14px
      margin: 0 auto 0 20px
  .section-kv
    .container
      margin: 0 auto
      padding: 80px 0
    .text-kv-main
      width: 60%
      margin-bottom: 40px
    .text-kv-sub
      width: 50%
      margin-bottom: 70px
    .box-bnr
      width: 60%
      padding: 30px 40px
    .box-q
      margin: 40px 0
    h2.what-site
      font-weight: normal
      font-size: 26px
      padding-left: 50px
      margin-bottom: 20px
      background:
        image: url("../img/q.svg")
        repeat: no-repeat
        position: left center
        size: contain
    .chara-guts
      width: 420px
      right: -70px
  .section-desctiption
    .h2-sub,
    .a-reason,
    .text-present
      font-size: 20px
      margin: 40px 0
    h2
      margin-bottom: 40px
    .btn.btn-blue
      width: 60%
    .commentary
      font-size: 16px
      padding: 40px
      text-align: center
      width: 80%
      margin: 80px auto 0
      h3
        font-size: 22px
        margin-bottom: 20px
      p
        max-width: 100%
      .chara-good
        width: 150px
        right: -50px
        top: -210px
  .section-archive
    h2
      margin-bottom: 40px
    .flex-archive
      .item
        width: calc((100% / 3) - 20px)
        margin-bottom: 40px
    .btn.btn-blue
      width: 60%
      margin: 0 auto
  .section-article-top
    background:
      image: url("../img/bg-hospital.png")
      size: 682px auto
      repeat: no-repeat
      position: right 40px  bottom 120px
    h2
      margin-bottom: 40px
    h3
      margin-bottom: 20px
      margin-top: 40px
    p
      margin-bottom: 30px
    .btn.btn-blue
      width: 60%
      margin: 60px auto 0
  footer
    padding: 80px 0
  .nav-footer
    margin-bottom: 40px
    li
      display: inline-block
      &:not(:last-of-type)
        margin-right: 40px
  .logo-footer
    width: 40%
    margin-bottom: 20px
  .logo-sub
    font-size: 16px
    margin-bottom: 40px
  .copy
    font-size: 14px
  .page h1
    font-size: 30px
    text-align: center
  .page-ranking
    h1
      font-size: 30px
    p
      font-size: 16px
    h2
      font-size: 28px
      border-bottom: 2px solid $pink
      padding-bottom: 10px
      background:
        size: 50px 50px
      padding-left: 70px
    h3
      font-size: 26px
      text-align: left
      margin-bottom: 10px
    .intro,
    .description
      font-size: 16px
    .description
      width: 100%
      margin: 20px 0 40px

  .flex-ranking
    display: -webkit-flex
    display: -ms-flex
    display: flex
    margin-bottom: 40px
    .item-img
      width: 35%
    .item-text
      width: 65%
      padding: 0 0 0 40px
    .flex-dl
      width: 100%
      margin-bottom: 20px
      dt,
      dd
        font-size: 16px
        margin-bottom: 10px
        padding: 10px 0
      dt
        width: 15%
      dd
        width: 32%
        &:nth-of-type(odd)
          margin-right: 20px
        strong
          font-size: 20px
          font-weight: bold
          color: $pink
    .box-point
      margin: 20px 0
      padding: 40px
      h4
        font-size: 18px
        margin-bottom: 20px
        padding-left: 30px
      li
        font-size: 16px
        margin-bottom: 20px
        &:last-of-type
          margin-bottom: 0
  .Explaination
    &__ttl-sub
      font-size: 24px
    &__ttl
      font-size: 30px
    &__text
      font-size: 16px
      margin-bottom: 20px
    &__giftcard
      margin-bottom: 20px
    &__attention
      margin-bottom: 40px
      li
        font-size: 14px
        margin-bottom: 0px

  .Target
    width: 100vw
    margin-left: calc(50% - 50vw)
    padding: 40px 0
    &__ttl
      font-size: 28px
    &__text
      font-size: 16px
    &__list
      font-size: 18px
      margin-bottom: 0
    &__attention
      font-weight: bold
      font-size: 20px

  .Step
    padding: 80px 0
    h2
      text-align: center
      margin-bottom: 40px
    &-Explaination
      &::before
        font-size: 200px
        top: -50px
      &__ttl
        font-size: 26px
      &__text
        font-size: 18px
    .page-ranking
      border-bottom: 2px solid $gray
      padding-bottom: 40px

  .Form
    width: 100vw
    padding: 80px 0
    margin-left: calc(50% - 50vw)
    .form
      width: $px_container
      margin: 0 auto
    &__ttl
      margin-bottom: 60px
    &__ttl-input
      font-size: 26px
      margin-top: 10px
    input[type="text"],
    textarea
      font-size: 20px
      padding: 10px
      margin-bottom: 20px
    label
      font-size: 22px
    &__attention
      color: $yellow
    &__privacy
      margin-bottom: 60px
    &__ttl-target
      margin-bottom: 40px
    &__list-target
      li
        font-size: 20px
    &__submit
      font-size: 24px
      transition: .4s
      &:hover
        background-color: $green
        border-color: $green
        color: $white
        cursor: pointer
  .container.Kv
    margin-bottom: 40px
