@import reset
@import mixin
@import scheme


.sp-block
  display: block
.sp-ib
  display: inline-block
.sp-flex
  display: -webkit-flex
  display: -ms-flex
  display: flex
.sp-none
  display: none

@import pc
