@import reset
@import mixin
@import scheme

.pc-block
  display: block
.pc-ib
  display: inline-block
.pc-flex
  display: -webkit-flex
  display: -ms-flex
  display: flex
.pc-none
  display: none

@import sp
